<div class="topics-container">    
    <% if current_user.admin? %>
        <div class="all-topics-buttons">
            <button class="new-topic-button">
                <%= link_to "New Topic", new_topic_path %>
            </button>
        </div>
    <% end %>
    
    <!-- list all topics-->
    <% @topics.each do |topic| %>
        <%# Each Topic %>
        <%= link_to(topic) do %>
            <div class="topic-container">
                <p class="topic">
                    <%= topic.name %>
                </p>
            </div>
        <% end %>
    <% end %>
</div>
