<div class="topics-container">
    <h1 class="all-topics-title">Topics Index</h1>
    
    <div class="all-topics-buttons">
        <button class="new-topic-button">
            <%= link_to "New Topic", new_topic_path %>
        </button>
    </div>
    
    <!-- list all topics-->
    <% @topics.each do |topic| %>
        <div class="topic-container">
            <p class="topic title">
                <%= link_to topic.name, topic %>
            </p>
        </div>
    <% end %>
</div>
