<div class="landing-container">
    <% if !current_user %>
    <section class="landing-header">
        <div class="landing-header-text">
            <p>
                The Cannabis resource 
            </p>
            <p>
                bringing the best!
            </p>
        </div>

        <div class="landing-header-sign-up">
            <p>
                new to blumelist?
            </p>
            <%= link_to "Sign Up", new_user_path, class: "landing-sign-up-button" %>
        </div>
    <section>
    <% end %>
</div>
