<div class="landing-container">
    <% if !current_user %>
    <section class="landing-header">
        <div class="landing-header-text">
            <p>
                we are a common place to
            </p>
            <p>
                acquire & relinquish garments 
            </p>
            <p>
                with like-styled souls
            </p>
        </div>

        <div class="landing-header-sign-up">
            <p>
                new to paixao?
            </p>
            <%= link_to "Sign Up", new_user_path, class: "landing-sign-up-button" %>
        </div>
    <section>
    <% end %>
</div>
