<div class="edit-post">
    <div class="edit-post-header">
        <h1>Edit Post</h1>
    </div>

    <div class="post-form">
        <%= render partial: 'form', 
            locals: {topic: @post.topic, post: @post} %>
    </div>
</div>