<div class="show-container">
    <div class="show-title">
        <p class="show-title-text">
            <%= @post.title %></p>
    </div>
    <div class="show-body">
        <p class="show-body-text">
            <%= @post.body %></p>
    </div>

    <div>
        <button class="edit-post-button">
            <%= link_to "Edit", edit_post_path %>
        </button>
    </div>
</div>
