/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    border: none;
}

*:active, *:focus, *:visited {
    color: black;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: white;
    color: black;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    overflow-x: hidden;
}

a {
    color: black;
}

button, input[type=submit] {
    background: inherit;
}

h1 {
    color: black;
    font-size: 16px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(115, 175, 100);
}

.link_to {
    font-size: 12px;
    background-color: inherit;
}

.link_to:hover {
    background: rgba(115, 175, 100, 0.527)
}

.logo {
    font-size: 16px;
}

.navbar {
    width: 30%;
    padding: 5px 0 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.nav-profile {
    margin: 0 30px 0 0;
}

.nav-profile-link {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-profile-img img {
    border-radius: 50%;
    width: 70%;
    height: auto;
}

.nav-profile-name {

}

.flash-banner {
    // width: 100%;
    // height: 30px;
    // color: white;
    // text-align: center;
}

.notice {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    background-color: green;
}

.alert {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    background-color: red;
}

.notice-text,
.alert-text {
    font-size: 16px;
    padding: 4px 0;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.posts-container,
.topics-container {
    width: 500px;
    height: 100%;
    margin: 20px auto 0;
}

textarea {
    resize: none
}

.footer {
    position: relative;
    bottom: 0;
	width: 100%;
	height: 90px;
	background-color: rgb(190, 190, 190);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

