.posts-container {
    width: 500px;
    margin: 0 auto;
}

.all-posts-title {
    text-align: center;
}

.all-posts-buttons {
    width: 100%;
    margin: 10px 0;
}

.new-post-button,
.edit-post-button,
.delete-post-button {
    border: 0.5px solid gray;
    border-radius: 2px;
    margin: 5px 0 10px;
    padding: 4px 10px 5px;
}

.post {
    border: 0.5px solid gray;
    border-bottom: none;
    padding: 5px;
}

.post-title,
.show-title-text {
    font-weight: 700;
    font-size: 20px;
    margin: 5px 5px 0;
}

.post-body {
    margin: 10px 5px;
    font-size: 14px;
}

.post-buttons-container {
    margin: 20px 0 10px;
}

// show view
.show-container {
    width: 500px;
    border: 0.5px solid gray;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
}

.show-body {
    margin: 5px 5px 15px 5px;
}

// new and edit views
.new-post,
.edit-post {
    width: 100%;
}

.edit-post-header {
    display: flex;
    justify-content: center;
}

.new-post h1 {
    text-align: center;
}

.post-form {
    width: 500px;
    margin: 0 auto;
}

.new-post-title,
.edit-post-title {
    width: 100%;
}

.new-post-title-label,
.new-post-body-label,
.edit-post-title-label,
.edit-post-body-label {
    width: 100%;
}

.new-post-title-text,
.new-post-body-text,
.edit-post-title-text,
.edit-post-body-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-post-submit,
.edit-post-submit {
    width: 50px;
    text-align: center;
    border: 0.5px solid gray;
    border-radius: 2px;
    padding: 1px 5px 5px;
}

