<% if current_user %>
    <div class="voting">
        <div>
            <%= link_to "+",  post_up_vote_path(post), class: "up_vote", method: :post %>
        </div>
        <div class="points">
            <%= post.points %>
        </div>
        <div>
            <%= link_to "-", post_down_vote_path(post), class: "down_vote", method: :post %>
        </div>
    </div>
<% end %>